@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins',sans-serif;
}

body{
    background: #121511;
}

.filter {
    backdrop-filter: blur(20px);
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}